<mat-toolbar color="primary">
    <div fxFlex="grow">
        Om
    </div>
    <div>
        <button mat-button style="min-width: 0px" [routerLink]="['/']">
            <mat-icon>arrow_back</mat-icon>
          </button>
    </div>
</mat-toolbar>
<mat-progress-bar mode="'determinate'" value="0"></mat-progress-bar>
<mat-card color="primary">
    <mat-card-header>
      <mat-card-title>Nästa tvärbana</mat-card-title>
      <mat-card-subtitle>Skapad av Wiklandia International AB</mat-card-subtitle>
      <img mat-card-avatar src="assets/Wiklandia.gif" />
    </mat-card-header>
</mat-card>

