<mat-toolbar color="primary">
    <div fxFlex="grow">
        Nästa tvärbana
    </div>
    <div>
        <button mat-button style="min-width: 0px" [routerLink]="['/about']">
            <mat-icon>details</mat-icon>
          </button>
    </div>
</mat-toolbar>
<mat-progress-bar [mode]="getMode()" value="0"></mat-progress-bar>

  <button mat-fab color="warn" class="app-fab" *ngIf="disruptions.length > 0" [routerLink]="['/disruptions']">
    <mat-icon>warning</mat-icon>
  </button>

<mat-card *ngIf="error" color="primary">
    <mat-card-header>
      <mat-card-title>{{error.status}} {{error.error}}</mat-card-title>
      <mat-card-subtitle>{{error.message}}</mat-card-subtitle>
      <div mat-card-avatar class="material-icons" style="text-align: center; font-size: 40px; color: red">error</div>
    </mat-card-header>
    <mat-card-content>
      Tjänsten fungerar ej för tillfället. Prova igen senare
    </mat-card-content>
</mat-card>

<mat-card *ngIf="selectedStopId || error" style="padding-bottom: 0px">
  <mat-card-header>
      <mat-card-title>Vilken hållplats ska du åka ifrån?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="font-size:140%">
        <mat-form-field style="width: 240px">
          <select matNativeControl required [(ngModel)]="selectedStopId" (change)="onStopChange()">
            <option *ngFor="let stop of stops" [value]="stop.id">
              {{ stop.name }}
            </option>
          </select>
        </mat-form-field>
        <button mat-button style="min-width: 0px" (click)="onClickGetLocation()">
          <mat-icon>gps_fixed</mat-icon>
        </button>
      </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="selectedStopId">
      <mat-card-content>
            <div>
              <button mat-raised-button [color]="direction === 'solna' ? 'primary' : ''" (click)="onClickChangeDirection('solna')">MOT SOLNA</button>
              <button mat-raised-button [color]="direction === 'sickla' ? 'primary' : ''" (click)="onClickChangeDirection('sickla')">MOT SICKLA</button>
            </div>
      </mat-card-content>
</mat-card>

<mat-card *ngFor="let departure of departures">
    <mat-card-header>
      <mat-card-title>
        <div style="font-size: 80%">
            {{departure.current}} {{ departure.depDate | deptime}}
        </div>
      </mat-card-title>
      <mat-card-subtitle>mot {{departure.end}}</mat-card-subtitle>
      <div mat-card-avatar class="material-icons" style="text-align: center; font-size: 40px">tram</div>
    </mat-card-header>
    <mat-card-content>
          Nedräkning: {{ departure.millis | countdown}}
    </mat-card-content>
</mat-card>

<div style="text-align: center; padding-top: 15px" *ngIf="selectedStopId">
    <button mat-button (click)="onClickChangeVisible(1)" style="margin-bottom: 100px">VISA FLER</button>
    <button mat-button (click)="onClickChangeVisible(-1)" *ngIf="departures.length > 1" style="margin-bottom: 100px">VISA FÄRRE</button>
</div>
<img src="assets/Wiklandia.gif" style="display:none;" />